@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form>
    <div class="mb-3">
        <label for="nom" class="form-label">Nom Complet</label>
        <input type="text" class="form-control" id="Name">
    </div>
    <div class="mb-3">
        <label for="age" class="form-label">Age</label>
        <input type="text" class="form-control" id="age">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>